<div class="comment-box">

    <form>
      <%= form_with model: @message do |f| %>
        <%= f.text_field :text %>
        <%= f.submit '送信' %>
      <% end %>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>

  </div>
  <div id='messages'>
  <% @messages.reverse_each do |message| %>
    <p><%= message.text %></p>
    <% end %>
  </div>